---
import { getRelativeLocaleUrl } from "astro:i18n";

import ProductCard from "../components/ProductCard.astro";
import Empty from "./Empty.astro";

import { repository, types } from "../content";

interface Props {
  category: types.Category;
  lang: types.Lang;
}

const { category } = Astro.props as Props;

const lang = Astro.currentLocale as string;
const products = await repository.findProductsByCategory(category.id, lang);
---

<div class="row">
  {
    products.length === 0 ? (
      <Empty />
    ) : (
      products.map((product) => <ProductCard 
        product={product} 
        link={getRelativeLocaleUrl(lang, `products/${product.id}`)} 
      />)
    )
  }
</div>
