---
import { getRelativeLocaleUrl } from "astro:i18n";
import { repository } from "../content";

const languages = await repository.getLanguagesMap();
const currentLang = Astro.currentLocale as string;
---

<div class={`dropdown`}>
  <button
    class="btn btn-outline-secondary dropdown-toggle btn-sm"
    type="button"
    id="languageDropdown"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {languages[currentLang]}
  </button>
  <ul
    class="dropdown-menu dropdown-menu-end"
    aria-labelledby="languageDropdown"
  >
    {
      Object.entries(languages).map(([lang, label]) => (
        <li>
          <a class="dropdown-item" href={getRelativeLocaleUrl(lang)}>
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</div>
