---
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<a href={`/${lang}`} class="text-white text-decoration-none">
    <img
        src="/grey-hunter-logo-02.svg"
        alt="Grey Hunter Logo"
        class="img-fluid"
        width="60"
        height="60"
    />
</a>
