---
import type { ProductSpecification } from "../content/types";
import SpecificationItem from "./SpecificationItem.astro";

type Props = {
  specs: ProductSpecification[];
  lang: string;
};

const { specs, lang } = Astro.props;

import { ui } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";
const t = useTranslations(lang as keyof typeof ui);
---

<h3 class="h-5 fw-bold text-end">{t("Specification")}</h3>
<ul class="list-group list-group-flush">
  {
    specs.map((spec) => (
      <li class="list-group-item p-0 border-0">
        <SpecificationItem specItem={spec} />
      </li>
    ))
  }
</ul>
