---
import { getRelativeLocaleUrl } from "astro:i18n";
import { CldImage } from "astro-cloudinary";
import { types } from "../content";

interface Props {
  categories: types.Category[];
}

const lang = Astro.currentLocale as string;
const { categories } = Astro.props;
---

<div class="row mt-4">
  {
    categories.length > 0 &&
      categories.map((category) => (
        <div class="col-6">
          <h4 class="fw-bold">{category.name}</h4>

          <a href={getRelativeLocaleUrl(lang, `${category.id}/`)}>
            <CldImage
              class={"h-100 w-100"}
              crop="fill"
              gravity="auto"
              format="auto"
              quality="auto"
              width={400}
              src={`eley.com.pl/${category.imgSrc}`}
              alt={category.name}
              sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
            />
          </a>
        </div>
      ))
  }
</div>
